flows/DEF_WW_WO_SetWoOwnerBasedOnTerritory.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Update the Work Order Owner field with Primary Territory Owner.</description>
        <name>Set_WO_Owner_Queue_based_on_Territory</name>
        <label>Set WO Owner Queue based on Territory</label>
        <locationX>176</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__Primary_Territory__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check that the Work Order has a Primary territory.</description>
        <name>Wo_Primary_Territory_is_set</name>
        <label>Wo Primary Territory is set</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wo_Primary_Territory_NOT_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Primary_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_Owner_Queue_based_on_Territory</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Wo Primary Territory NOT null</label>
        </rules>
    </decisions>
    <description>Set the Owner of the Work Order based on the Territory.</description>
    <interviewLabel>DEF_WW_WO_SetWoOwnerBasedOnTerritory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_WO_SetWoOwnerBasedOnTerritory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wo_Primary_Territory_is_set</targetReference>
        </connector>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
