flows/DEF_Assign_Tools_Tech.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Appointment_Status</name>
        <label>Check Appointment Status</label>
        <locationX>406</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Update_Assigned_Tools_Tech</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Appointment_Status1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__SM_Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Technician_Equipment</targetReference>
            </connector>
            <label>Check Appointment Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Flows</name>
        <label>Check Bypass Flows</label>
        <locationX>428</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Flow_not_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DEF_CS_BypassComponents__c.Bypass_Flows__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appointment_Status</targetReference>
            </connector>
            <label>Bypass Flow not true</label>
        </rules>
    </decisions>
    <interviewLabel>DEF_Assign_Tools/Tech {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_Create_Assigned_Tools/Tech</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Technician_Equipment</name>
        <label>Create Technician/Equipment</label>
        <locationX>193</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>End_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.SVMXC__EndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.SVMXC__StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Equipment__c</field>
            <value>
                <elementReference>$Record.SVMXC__Technician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.SVMXC__Service_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Assigned_Tools_Tech</name>
        <label>Update Assigned Tools/Tech</label>
        <locationX>551</locationX>
        <locationY>461</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__StartDateTime__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__EndDateTime__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__WhatId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Technician__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Bypass_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__WhatId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a1s</stringValue>
            </value>
        </filters>
        <object>SVMXC__SVMX_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
