flows/DEF_WW_SC_Update_Related_Lines_and_PM_Plans_To_Active.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Current_Contract_Line_Into_Collection_Variable</name>
        <label>Add Current Contract Line Into Collection Variable</label>
        <locationX>739</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>ContractLineCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Contract_Line_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contract_Line_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_PM_Plan_Record_To_Collection_Variable</name>
        <label>Add Current PM Plan Record To Collection Variable</label>
        <locationX>1166</locationX>
        <locationY>7</locationY>
        <assignmentItems>
            <assignToReference>PM_Plan_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Related_PM_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Related_PM_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_Plan_Status_To_Active</name>
        <label>Assign PM Plan Status To Active</label>
        <locationX>989</locationX>
        <locationY>7</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Related_PM_Plans.SVMXC__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_PM_Plan_Record_To_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Line_Status_To_Active</name>
        <label>Set Contract Line Status To Active</label>
        <locationX>818</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Contract_Line_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_PM_Plan_Records_of_Contract_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Whether_Contract_Line_has_Related_PM_Plans</name>
        <label>Check Whether Contract Line has Related PM Plans</label>
        <locationX>1164</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Iterate_Related_PM_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>has Related PM Plan Records</defaultConnectorLabel>
        <rules>
            <name>Contract_Line_not_have_Related_PM_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_PM_Plan_Records_of_Contract_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Current_Contract_Line_Into_Collection_Variable</targetReference>
            </connector>
            <label>Contract Line not have Related PM Plans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Header_has_Related_Contract_Line_Records</name>
        <label>Check Whether Header has Related Contract Line Records</label>
        <locationX>224</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Not Have Contract Line</defaultConnectorLabel>
        <rules>
            <name>has_Contract_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Related_Contract_Line_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Contract_Line_Records</targetReference>
            </connector>
            <label>has Contract Line</label>
        </rules>
    </decisions>
    <description>This flow will Trigger when contract header is set to active, This will update the Related contract lines and PM plans to Active</description>
    <interviewLabel>DEF_WW_SC_Update Related Lines and PM Plans To Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_SC_Update Related Lines and PM Plans To Active</label>
    <loops>
        <name>Iterate_Contract_Line_Records</name>
        <label>Iterate Contract Line Records</label>
        <locationX>479</locationX>
        <locationY>333</locationY>
        <collectionReference>Get_All_Related_Contract_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contract_Line_Status_To_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Related_Contract_Line_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Related_PM_Plans</name>
        <label>Iterate Related PM Plans</label>
        <locationX>1170</locationX>
        <locationY>180</locationY>
        <collectionReference>Get_Related_PM_Plan_Records_of_Contract_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PM_Plan_Status_To_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_PM_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Contract_Line_Records</name>
        <label>Get All Related Contract Line Records</label>
        <locationX>50</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Header_has_Related_Contract_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMX_PS_Parent_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SVMXC__Service_Contract__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PM_Plan_Records_of_Contract_Line</name>
        <label>Get Related PM Plan Records of Contract Line</label>
        <locationX>1038</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Contract_Line_has_Related_PM_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Contract_Line_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SVMXC__PM_Plan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXC__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_PM_Plans</name>
        <label>Update Related PM Plans</label>
        <locationX>1502</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Add_Current_Contract_Line_Into_Collection_Variable</targetReference>
        </connector>
        <inputReference>PM_Plan_Collection_Variable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Related_Contract_Line_Records</name>
        <label>Update the Related Contract Line Records</label>
        <locationX>479</locationX>
        <locationY>562</locationY>
        <inputReference>ContractLineCollectionVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>135</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Related_Contract_Line_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Header</stringValue>
            </value>
        </filters>
        <object>SVMXC__Service_Contract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContractLineCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Contract__c</objectType>
    </variables>
    <variables>
        <name>PM_Plan_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__PM_Plan__c</objectType>
    </variables>
</Flow>
