flows/DEF_WW_Work_Order_Update_First_assigned_date_time_completed_date_time.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Update_First_Assigned_Date_Time</name>
        <label>Update First Assigned Date Time</label>
        <locationX>1220</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXC__First_Assigned_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Assigned_On</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set completed date time to NOW</description>
        <name>Update_WO_Completed_Date_Time</name>
        <label>Update WO Completed Date Time</label>
        <locationX>1270</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXC__Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Intervention_End_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Check Bypass Flow</label>
        <locationX>572</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ByPass_Flow_not_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DEF_CS_BypassComponents__c.Bypass_Flows__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Status_Is_Assigned_Technician</targetReference>
            </connector>
            <label>Bypass Flow Not True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status_Is_Assigned_Technician</name>
        <label>Check WO Status (is Assigned Technician?)</label>
        <locationX>574</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Check_WO_Status_is_Job_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WO Status is not &quot; Assigned Technician&quot;</defaultConnectorLabel>
        <rules>
            <name>WO_Status_is_Assigned_Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__First_Assigned_DateTime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Assigned_Date_Time</targetReference>
            </connector>
            <label>WO Status is&quot;Assigned Technician&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status_is_Job_Complete</name>
        <label>Check WO Status (is Job Complete?)</label>
        <locationX>577</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_status_is_Job_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Completed_Date_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intervention_End_Date_and_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Completed_Date_Time</targetReference>
            </connector>
            <label>WO status is &quot;Job Complete&quot;</label>
        </rules>
    </decisions>
    <formulas>
        <description>NOW</description>
        <name>CompletedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>emptyDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>First_Assigned_On</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>DEF_WW_Work Order_Update First assigned date time &amp; completed date time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_Work Order_Update First assigned date time &amp; completed date time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>119</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>firstassigned_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SVMXC__First_Assigned_DateTime__c</elementReference>
        </value>
    </variables>
</Flow>
