flows/DEF_WW_Update_Time_Entry.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_the_Updated_Values_to_the_Time_Entry</name>
        <label>Assign the Updated Values to the Time Entry</label>
        <locationX>559</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>Get_Time_Entry_Records.SVMXC__Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__Start_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entry_Records.SVMXC__End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__End_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entry_Records.SVMXC__Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__Line_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Entry_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Check Bypass Flow</label>
        <locationX>375</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Flow_not_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DEF_CS_BypassComponents__c.Bypass_Flows__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Entry_Records</targetReference>
            </connector>
            <label>Bypass Flow not true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Time_Entry_Is_Available</name>
        <label>Check Whether Time Entry Is Available</label>
        <locationX>324</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Time_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entry_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Updated_Values_to_the_Time_Entry</targetReference>
            </connector>
            <label>has Time Entry</label>
        </rules>
    </decisions>
    <description>This flow update the time entry record when work detail is updated</description>
    <interviewLabel>DEF_WW_Update Time Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_Update Time Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the time entry records which belongs to the work detail</description>
        <name>Get_Time_Entry_Records</name>
        <label>Get Time Entry Records</label>
        <locationX>176</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Time_Entry_Is_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Work_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_Entry_Record</name>
        <label>Update Time Entry Record</label>
        <locationX>804</locationX>
        <locationY>377</locationY>
        <inputReference>Get_Time_Entry_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SVMXC__Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Labor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <object>SVMXC__Service_Order_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TimeEntryToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Timesheet_Entry__c</objectType>
    </variables>
</Flow>
