flows/DEF_WW_Before_Update_WO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Update_Actual_Resolution</name>
        <label>Update Actual Resolution</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXC__Actual_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Actual_Restoration</name>
        <label>Update Actual Restoration</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXC__Actual_Restoration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Status_Installation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Check Bypass Flow</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ByPass_Flow_not_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DEF_CS_BypassComponents__c.Bypass_Flows__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Installation_in_Service</targetReference>
            </connector>
            <label>Bypass Flow Not True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status_Installation</name>
        <label>Check WO Status &amp; Installation</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_is_Job_Complete_or_Validated_and_Installation_in_Service</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Installation_in_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Actual_Resolution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Resolution</targetReference>
            </connector>
            <label>WO is Job Complete or Validated and Installation in Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Installation_in_Service</name>
        <label>Check WO Installation (Installation in Service?)</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_WO_Status_Installation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Installation_in_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_in_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Actual_Restoration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Restoration</targetReference>
            </connector>
            <label>Installation in Service</label>
        </rules>
    </decisions>
    <formulas>
        <name>emptyDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>DEF_WW_Before_Update_WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_Before_Update_WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
