flows/DEF_WW_Field_Feedback_to_Service_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BE_DEF_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</name>
        <label>BE_DEF Notify Account Owner of New Field Feedback requiring a Quote</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <actionName>Field_Feedback__c.DEF_BE_Notify_Account_owner_of_new_field_feedback_requiring_a_quote</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GB_Clarkson_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</name>
        <label>GB_Clarkson Notify Account Owner of New Field Feedback requiring a Quote</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <actionName>Field_Feedback__c.DEF_GB_Notify_Account_owner_of_new_field_feedback_requiring_a_quote</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IT_DEF_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</name>
        <label>IT_DEF Notify Account Owner of New Field Feedback requiring a Quote</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <actionName>Field_Feedback__c.DEF_IT_Notify_Account_owner_of_new_field_feedback_requiring_a_quote</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>DEF_Company</name>
        <label>DEF Company ?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BE_DEF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DEF_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE_DEF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BE_DEF_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</targetReference>
            </connector>
            <label>BE_DEF</label>
        </rules>
        <rules>
            <name>IT_DEF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DEF_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT_DEF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_DEF_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</targetReference>
            </connector>
            <label>IT_DEF</label>
        </rules>
        <rules>
            <name>GB_Clarkson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DEF_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB_Clarkson</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GB_Clarkson_Notify_Account_Owner_of_New_Field_Feedback_requiring_a_Quote</targetReference>
            </connector>
            <label>GB_Clarkson</label>
        </rules>
    </decisions>
    <interviewLabel>DEF_WW_Field Feedback to Service Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_Field Feedback to Service Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_Service_Quote</name>
        <label>Generate Service Quote</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>DEF_Company</targetReference>
        </connector>
        <inputAssignments>
            <field>DEF_Company__c</field>
            <value>
                <elementReference>$Record.DEF_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Observation_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldFeedback__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXC__Company__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXC__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Field_Feedback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXC__Service_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContract__c</field>
            <value>
                <elementReference>$Record.Service_Maintenance_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Service_Quote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Service Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Needs_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Field_Feedback__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
