flows/DEF_WW_Event_Create_Update_ATT_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Tech_Repeated_is_False</name>
        <label>Tech Repeated is False</label>
        <locationX>609</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>Tech_Repeated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ATT_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tech_Repeated_is_True</name>
        <label>Tech Repeated is True</label>
        <locationX>610</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>Tech_Repeated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ATT_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Appointment_Status</name>
        <label>Appointment Status</label>
        <locationX>605</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATT_Record_to_Canceled</targetReference>
            </connector>
            <label>If Canceled</label>
        </rules>
        <rules>
            <name>Not_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__SM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATT_Record_to_Assigned</targetReference>
            </connector>
            <label>Not Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Bypass Flow ?</label>
        <locationX>40</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DEF_CS_BypassComponents__c.Bypass_Flows__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technician_Equipment_ID</targetReference>
            </connector>
            <label>If Not bypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Created_or_updated</name>
        <label>Record Created or updated ?</label>
        <locationX>381</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXSB__SM_Version_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATT_Records</targetReference>
            </connector>
            <label>If Created</label>
        </rules>
        <rules>
            <name>If_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXSB__SM_Version_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Status</targetReference>
            </connector>
            <label>If Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technician_Exists</name>
        <label>Technician Exists ?</label>
        <locationX>600</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ATT_Record_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Repeated_is_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ATT_Record_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Repeated_is_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>DEF_WW_Event_Create_Update_ATT Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_SFEvent_Create_Update_ATT Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ATT_Record</name>
        <label>Create ATT Record</label>
        <locationX>1023</locationX>
        <locationY>742</locationY>
        <inputAssignments>
            <field>End_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Repeated_Technician__c</field>
            <value>
                <elementReference>Tech_Repeated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Equipment__c</field>
            <value>
                <elementReference>Technician_Equipment_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ATT_Records</name>
        <label>Get ATT Records</label>
        <locationX>384</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technician_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Technician_Equipment_ID.Id</elementReference>
            </value>
        </filters>
        <object>Assigned_Tools_Technician__c</object>
        <outputAssignments>
            <assignToReference>ATT_Record_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Technician_Equipment_ID</name>
        <label>Technician/Equipment ID</label>
        <locationX>176</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Created_or_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Group_Members__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ATT_Record_to_Assigned</name>
        <label>Update ATT Record to Assigned</label>
        <locationX>613</locationX>
        <locationY>189</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Technician_Equipment_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StartDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.EndDateTime</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ATT_Record_to_Canceled</name>
        <label>Update ATT Record to Canceled</label>
        <locationX>894</locationX>
        <locationY>410</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Technician_Equipment_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StartDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.EndDateTime</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a1s</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ATT_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tech_Repeated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
