flows/DEF_WW_Event_ATT_Create_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Is_Technician_Exist_equals_False</name>
        <label>Is Technician Exist equals False</label>
        <locationX>412</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>IsTechRepeated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_ATT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Technician_Exist_equals_true</name>
        <label>Is Technician Exist equals true</label>
        <locationX>81</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>IsTechRepeated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_ATT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Appointment_Status</name>
        <label>Check Appointment Status</label>
        <locationX>519</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Create_ATT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATT_Records</targetReference>
            </connector>
            <label>To Create ATT</label>
        </rules>
        <rules>
            <name>ToCancelATT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATT</targetReference>
            </connector>
            <label>ToCancelATT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Technician_Exist</name>
        <label>Technician Exist ?</label>
        <locationX>237</locationX>
        <locationY>583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ATT_Record_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Technician_Exist_equals_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ATT_Record_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Technician_Exist_equals_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>DEF_WW_Event_ATT_Create_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEF_WW_Event_ATT_Create_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Inserting ATT with Is Tech Repeated equals false.</description>
        <name>Insert_ATT</name>
        <label>Insert ATT</label>
        <locationX>246</locationX>
        <locationY>928</locationY>
        <inputAssignments>
            <field>End_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Repeated_Technician__c</field>
            <value>
                <elementReference>IsTechRepeated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Equipment__c</field>
            <value>
                <elementReference>Get_TechEqId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetch the technician name so that we can we can check if the technician&apos;s name already exist</description>
        <name>Get_ATT_Records</name>
        <label>Get ATT Records</label>
        <locationX>245</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Technician_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TechEqId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Assigned_Tools_Technician__c</object>
        <outputAssignments>
            <assignToReference>ATT_Record_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_TechEqId</name>
        <label>Get TechEqId</label>
        <locationX>527</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Group_Members__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ATT</name>
        <label>Update ATT</label>
        <locationX>538</locationX>
        <locationY>677</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_and_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technician_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TechEqId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Assigned_Tools_Technician__c</object>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_TechEqId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a1s</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>It will store the ATT record id.</description>
        <name>ATT_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsTechRepeated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
